<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../emst.css" type="text/css" rel="stylesheet">
    <link href="../favicon.ico" rel="shortcut icon" >
    <title>{GetUserName()}: Регистратура: Выгрузка стат.талонов для ЕИС ОМС</title>
  </head>

  <body>
    <table cellspacing="0" cellpadding="4">
      <tr>
        <td valign="top" class="maintable" >
          {GetMenu():h}
        </td>
        <td valign="top">
          <h1>Выгрузка стат.талонов для ЕИС ОМС</h1>
          {form.outputHeader():h}
            {form.hidden:h}
            <table class=maintable>
              <tr>
                <th colspan="2">{form.header.Header:h}</th>
              </tr>
              <tr>
                <td class="label"  > {form.beg_date.label:h} </td>
                <td class="control"> {form.beg_date.html:h}  </td>
              </tr>
              <tr>
                <td class="label"  > {form.end_date.label:h} </td>
                <td class="control"> {form.end_date.html:h}  </td>
              </tr>
              <tr>
                <td class="label"  > {form.service.label:h} </td>
                <td class="control"> {form.service.html:h}  </td>
              </tr>
              <tr>
                <td class="label"  > {form.paytype.label:h}</td>
                <td class="control"> {form.paytype.html:h}</td>
              </tr>
              <tr>
                <td colspan="2"><hr></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td align="right">{form.Submit.html:h}</td>
              </tr>
            </table>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
