<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../emst.css" type="text/css" rel="stylesheet">
    <link href="../favicon.ico" rel="shortcut icon" >
    <title>{GetUserName()}: Администратор: Список вариантов динамики</title>
  </head>

  <body>
    <table cellspacing="0" cellpadding="4">
      <tr>
        <td valign="top" class="maintable" >
          {GetMenu():h}
        </td>
        <td valign="top">
          <h1> Список вариантов динамики</h1>
          {GetTable():h}
        </td>
      </tr>
    </table>
  </body>
</html>
